CREATE VIEW [dbo].[V_LICHTHI]
AS
SELECT     dbo.MON.TENMON, dbo.CTLICHTHI.MAPHONG, dbo.CTLICHTHI.NGAYTHI, dbo.CTLICHTHI.TIETBATDAU, dbo.LOPTC.MALOPTC, dbo.LOPTC.NHOM, dbo.LOPTC.NIENKHOA, dbo.LOPTC.HOCKY
FROM         dbo.LOPTC INNER JOIN
                      dbo.CTLICHTHI ON dbo.LOPTC.MALOPTC = dbo.CTLICHTHI.MALOPTC INNER JOIN
                      dbo.MON ON dbo.LOPTC.MAMON = dbo.MON.MAMON

CREATE VIEW [dbo].[V_LOPTC]
AS
SELECT     dbo.MON.TENMON, dbo.LOPTC.NIENKHOA, dbo.LOPTC.HOCKY, dbo.LOPTC.NHOM, dbo.LOPTC.MALOPTC, dbo.NHANVIEN.HO + ' ' + dbo.NHANVIEN.TEN AS 'HOTEN'
FROM         dbo.LOPTC INNER JOIN
                      dbo.MON ON dbo.LOPTC.MAMON = dbo.MON.MAMON INNER JOIN
                      dbo.NHANVIEN ON dbo.LOPTC.MANV = dbo.NHANVIEN.MANV
CREATE VIEW [dbo].[V_NHANVIEN]
AS
SELECT     dbo.NHANVIEN.MANV, dbo.NHANVIEN.HO + ' ' + dbo.NHANVIEN.TEN AS HOTEN, dbo.NHANVIEN.GIOITINH AS SEX, dbo.PBKHOA.TENPBK, dbo.NHANVIEN.EMAIL, dbo.NHANVIEN.DIACHI, 
                      dbo.LOAINV.TENLOAI AS LOAINV, dbo.TOBOMON.TENTBM
FROM         dbo.NHANVIEN INNER JOIN
                      dbo.TOBOMON ON dbo.NHANVIEN.MATBM = dbo.TOBOMON.MATBM INNER JOIN
                      dbo.PBKHOA ON dbo.TOBOMON.MAPBK = dbo.PBKHOA.MAPBK INNER JOIN
                      dbo.LOAINV ON dbo.NHANVIEN.MALOAI = dbo.LOAINV.MALOAI
CREATE proc [dbo].[SP_LICHTHI2]


as
begin
	SELECT LT.NGAYTHI,LT.MAPHONG,LT.TIETBATDAU,LT.MALOPTC , lt.DOTTHI
	INTO #LT
	FROM CTLICHTHI LT
	
	SELECT *
	INTO #LOPTCTAM
	FROM LOPTC 
	
	SELECT TC.MALOPTC,TC.MALOP,MON.MAMON,MON.TENMON,NV.HO + ' ' + NV.TEN AS 'HOTEN',TC.NHOM,TC.SLDANGKY,#LT.NGAYTHI,#LT.MAPHONG,#LT.TIETBATDAU,#lt.DOTTHI,TC.NIENKHOA,tC.HOCKY
	FROM #LOPTCTAM TC,#LT,NHANVIEN NV,LOP,MON
	WHERE
		TC.MALOPTC = #LT.MALOPTC AND NV.MANV = TC.MANV AND LOP.MALOP = TC.MALOP AND MON.MAMON = TC.MAMON
		order by #LT.NGAYTHI,#LT.TIETBATDAU

end

CREATE PROC [dbo].[SP_KHOILUONG2]

AS
	BEGIN
		SELECT TC.HOCKY,TC.MALOP,TC.MALOPTC,TC.MAMON,TC.MANV AS 'GVDAY',TC.NHOM,TC.NIENKHOA,TC.SLDANGKY
		INTO #TC--Loc lop tc
		FROM LOPTC TC
		
		
		SELECT Mon.TENMON,#TC.MAMON
		INTO #TCMON
		FROM #TC,MON--KET 2 BANG TC&MON
		WHERE #TC.MAMON = Mon.MAMON
		
		SELECT #TC.MALOPTC,#TC.MAMON,CTLICHTHI.MAPHONG,CTLICHTHI.NGAYTHI,CTLICHTHI.TIETBATDAU,CTLICHTHI.SLDUTHI
		INTO #TCLICHTHI
		FROM #TC,CTLICHTHI--KET 2 BANG TC&CTLICHTHI
		WHERE #TC.MALOPTC = CTLICHTHI.MALOPTC
		
		SELECT DISTINCT #TCLICHTHI.*,MIN(CBCOITHI.MANV )as 'MANVCT1' 
		INTO #TCLICHTHICB
		FROM  CBCOITHI inner join #TCLICHTHI  --LỌC CBCOITHI ĐẦU TIÊN
		on #TCLICHTHI.NGAYTHI = CBCOITHI.NGAYTHI AND #TCLICHTHI.MAPHONG = CBCOITHI.MAPHONG AND #TCLICHTHI.TIETBATDAU = CBCOITHI.TIETBATDAU
		GROUP BY #TCLICHTHI.MALOPTC,#TCLICHTHI.MAMON,#TCLICHTHI.MAPHONG,#TCLICHTHI.NGAYTHI,#TCLICHTHI.SLDUTHI,#TCLICHTHI.TIETBATDAU
		
		--DROP TABLE #TCLICHTHI
		
		SELECT DISTINCT #TCLICHTHICB.*,COUNT(CBCOITHI.MANV )as 'SOLANCT1' 
		INTO #TCLICHTHICBTEMP
		FROM #TCLICHTHICB  , CBCOITHI--ĐẾM SỐ LẦN COI THI CỦA CB1
		WHERE #TCLICHTHICB.NGAYTHI = CBCOITHI.NGAYTHI AND #TCLICHTHICB.MAPHONG = CBCOITHI.MAPHONG AND #TCLICHTHICB.TIETBATDAU = CBCOITHI.TIETBATDAU AND #TCLICHTHICB.MANVCT1 = CBCOITHI.MANV
		GROUP BY #TCLICHTHICB.MALOPTC,#TCLICHTHICB.MAMON,#TCLICHTHICB.MAPHONG,#TCLICHTHICB.NGAYTHI,#TCLICHTHICB.SLDUTHI,#TCLICHTHICB.TIETBATDAU,#TCLICHTHICB.MANVCT1
		
		--DROP TABLE #TCLICHTHICB
		
		SELECT DISTINCT #TCLICHTHICBTEMP.*,Min(CBCOITHI.MANV) AS 'MANVCT2' 
		INTO #TCLICHTHICBTEMP3
		FROM #TCLICHTHICBTEMP  inner join CBCOITHI--LỌC CBCT VÀ SỐ LẦN COI THI CỦA CB2(NẾU CÓ)
		ON #TCLICHTHICBTEMP.NGAYTHI = CBCOITHI.NGAYTHI AND #TCLICHTHICBTEMP.MAPHONG = CBCOITHI.MAPHONG AND #TCLICHTHICBTEMP.TIETBATDAU = CBCOITHI.TIETBATDAU AND #TCLICHTHICBTEMP.MANVCT1 != CBCOITHI.MANV 
		GROUP BY #TCLICHTHICBTEMP.MALOPTC,#TCLICHTHICBTEMP.MAMON,#TCLICHTHICBTEMP.MAPHONG,#TCLICHTHICBTEMP.NGAYTHI,#TCLICHTHICBTEMP.SLDUTHI,#TCLICHTHICBTEMP.TIETBATDAU,#TCLICHTHICBTEMP.MANVCT1,#TCLICHTHICBTEMP.SOLANCT1
		SELECT DISTINCT #TCLICHTHICBTEMP3.*,ISNULL(Count(CBCOITHI.MANV),'') AS 'SOLANCT2' 
		INTO #TCLICHTHICBTEMP2
		FROM #TCLICHTHICBTEMP3  , CBCOITHI--LỌC CBCT VÀ SỐ LẦN COI THI CỦA CB2(NẾU CÓ)
		where #TCLICHTHICBTEMP3.NGAYTHI = CBCOITHI.NGAYTHI AND #TCLICHTHICBTEMP3.MAPHONG = CBCOITHI.MAPHONG AND #TCLICHTHICBTEMP3.TIETBATDAU = CBCOITHI.TIETBATDAU AND #TCLICHTHICBTEMP3.MANVCT1 != CBCOITHI.MANV 
		GROUP BY #TCLICHTHICBTEMP3.MALOPTC,#TCLICHTHICBTEMP3.MAMON,#TCLICHTHICBTEMP3.MAPHONG,#TCLICHTHICBTEMP3.NGAYTHI,#TCLICHTHICBTEMP3.SLDUTHI,#TCLICHTHICBTEMP3.TIETBATDAU,CBCOITHI.MANV,#TCLICHTHICBTEMP3.MANVCT1,#TCLICHTHICBTEMP3.SOLANCT1,#TCLICHTHICBTEMP3.MANVCT2
		
		--DROP TABLE #TCLICHTHICBTEMP
		
		SELECT DISTINCT #TCLICHTHICBTEMP2.*,ISNULL(CBCOITHI.MANV,'') AS 'MANVCT3' ,ISNULL(COUNT(CBCOITHI.MANV),' ') AS 'SOLANCT3'
		INTO #TCLICHTHICB2
		FROM #TCLICHTHICBTEMP2  LEFT JOIN CBCOITHI----LỌC CBCT VÀ SỐ LẦN COI THI CỦA CB3(NẾU CÓ)
		ON #TCLICHTHICBTEMP2.NGAYTHI = CBCOITHI.NGAYTHI AND #TCLICHTHICBTEMP2.MAPHONG = CBCOITHI.MAPHONG AND #TCLICHTHICBTEMP2.TIETBATDAU = CBCOITHI.TIETBATDAU AND #TCLICHTHICBTEMP2.MANVCT1 != CBCOITHI.MANV AND #TCLICHTHICBTEMP2.MANVCT2 != CBCOITHI.MANV
		GROUP BY #TCLICHTHICBTEMP2.MALOPTC,#TCLICHTHICBTEMP2.MAMON,#TCLICHTHICBTEMP2.MAPHONG,#TCLICHTHICBTEMP2.NGAYTHI,#TCLICHTHICBTEMP2.SLDUTHI,#TCLICHTHICBTEMP2.TIETBATDAU,CBCOITHI.MANV,#TCLICHTHICBTEMP2.MANVCT1,#TCLICHTHICBTEMP2.SOLANCT1,#TCLICHTHICBTEMP2.MANVCT2,#TCLICHTHICBTEMP2.SOLANCT2
		
		--DROP TABLE #TCLICHTHICBTEMP2
		
		SELECT #TC.*,ISNULL(DETHI.MANV,'') AS 'GVRADE',ISNULL(DETHI.SOLUONGDE,'') AS 'SOLUONGDE'
		INTO #TCDETHI
		FROM #TC LEFT JOIN DETHI 
		ON #TC.MALOPTC = DETHI.MALOPTC--Lọc mã gv ra đề
		
		--DROP TABLE #TC
		
		SELECT #TCDETHI.*,ISNULL(BAITHI.MANV,'') AS 'GVCHAMTHI',ISNULL(BAITHI.SOLUONGBAITHI,'') AS 'SOLUONGBAITHI'
		INTO #TCCHUNG
		FROM #TCDETHI LEFT JOIN BAITHI -- lọc mã nv chấm thi
		ON #TCDETHI.MALOPTC = BAITHI.MALOPTC
		
		--DROP TABLE #TCDETHI
		
		SELECT TOBOMON.MATBM,PBKHOA.TENPBK
		INTO #PBK
		FROM PBKHOA,TOBOMON -- Kết bảng Tổ BM với Khoa để lấy tên PBkhoa
		WHERE PBKHOA.MAPBK = TOBOMON.MAPBK
		
		SELECT NV.MANV,NV.HO + ' ' + NV.TEN AS 'HOTEN' ,#PBK.TENPBK
		INTO #NVANDKHOA
		FROM #PBK, NHANVIEN NV-- Kết nhân viên với tên PBK
		WHERE #PBK.MATBM = NV.MATBM
		
		--DROP TABLE #PBK
		
		SELECT #TCCHUNG.*,#NVANDKHOA.HOTEN AS 'HOTENGVDAY',#NVANDKHOA.TENPBK AS 'KHOA'
		INTO #TCCHUNG2
		FROM #TCCHUNG,#NVANDKHOA--Kết họ tên GV Dạy và tên khoa với bảng Lớp TC
		WHERE #TCCHUNG.GVDAY = #NVANDKHOA.MANV
		
		--DROP TABLE #TCCHUNG
		
		SELECT #TCCHUNG2.*,ISNULL(#NVANDKHOA.HOTEN,'') AS 'HOTENGVRADE'
		INTO #TCCHUNG3
		FROM #TCCHUNG2 LEFT JOIN #NVANDKHOA--Kết họ tên GV ra đề với bảng Lớp TC
		ON #TCCHUNG2.GVRADE = #NVANDKHOA.MANV
		
		--DROP TABLE #TCCHUNG2
		
		SELECT #TCCHUNG3.*,ISNULL(#NVANDKHOA.HOTEN,'') AS 'HOTENGVCHAMTHI'
		INTO #TCCHUNG4
		FROM #TCCHUNG3 LEFT JOIN #NVANDKHOA----Kết họ tên GV chấm thi với bảng Lớp TC
		ON #TCCHUNG3.GVCHAMTHI = #NVANDKHOA.MANV
		
		--DROP TABLE #TCCHUNG3
		
		SELECT #TCLICHTHICB2.*,ISNULL(#NVANDKHOA.HOTEN,'') AS 'HOTENCBCT1'
		INTO #CBCT1
		FROM #TCLICHTHICB2 LEFT JOIN #NVANDKHOA --Kết họ tên CBCOITHI1 với bảng cbcoithi
		ON #TCLICHTHICB2.MANVCT1 = #NVANDKHOA.MANV
		
		--DROP TABLE #TCLICHTHICB2
		
		SELECT #CBCT1.*,ISNULL(#NVANDKHOA.HOTEN,'') AS 'HOTENCBCT2'
		INTO #CBCT2
		FROM #CBCT1 LEFT JOIN #NVANDKHOA--Kết họ tên CBCOITHI2 với bảng cbcoithi
		ON #CBCT1.MANVCT2 = #NVANDKHOA.MANV
		
		--DROP TABLE #CBCT1
		
		SELECT #CBCT2.*,ISNULL(#NVANDKHOA.HOTEN,'') AS 'HOTENCBCT3'
		INTO #CBCT3
		FROM #CBCT2 LEFT JOIN #NVANDKHOA--Kết họ tên CBCOITHI3 với bảng cbcoithi
		ON #CBCT2.MANVCT3 = #NVANDKHOA.MANV
		
		--DROP TABLE #CBCT2
		--DROP TABLE #NVANDKHOA
		
		SELECT MH.TENMON,TC.MALOPTC,TC.NIENKHOA,TC.HOCKY,TC.NHOM,TC.HOTENGVDAY AS 'GVGIANGDAY',TC.KHOA,TC.HOTENGVRADE AS 'GVRADE',TC.HOTENGVCHAMTHI AS 'GVCHAMTHI',CB.MAPHONG AS 'PHONGTHI',CB.TIETBATDAU,CB.NGAYTHI,CB.SLDUTHI,CB.HOTENCBCT1 AS 'CBCT1',CB.SOLANCT1,CB.HOTENCBCT2 AS 'CBCT2',CB.SOLANCT2,CB.HOTENCBCT3 AS 'CBCT3',CB.SOLANCT3,TC.SOLUONGBAITHI,TC.SOLUONGDE
		FROM #TCCHUNG4 TC ,#TCMON MH,#CBCT3 CB
		WHERE TC.MALOPTC = CB.MALOPTC AND TC.MAMON = MH.MAMON 
		ORDER BY CB.NGAYTHI,MH.TENMON
		
		--DROP TABLE #CBCT3
		--DROP TABLE #TCCHUNG4
		--DROP TABLE #TCMON

	END